<template>
  <div class="addCandidate">
    <h1>Add Candidate</h1>
    <form @submit.prevent="validateForm()" class="form-signin form-label form-css-label px-2">
      <fieldset :class="{ 'error-style': errors.has('name'), 'not-empty': candidate.name.length !== 0 }" class="form-label-group mb-4">
        <input v-model="candidate.name" v-validate="'required'" data-vv-as="Candidate Name" type="text" name="name" id="nameInput" autofocus="">
        <label for="nameInput">Candidate Name</label>
        <span class="checkIcon">&#10003;</span>
        <span class="error-message">{{ errors.first('name') }}</span>
      </fieldset>

      <fieldset :class="{ 'error-style': errors.has('surname'), 'not-empty': candidate.surname.length !== 0 }" class="form-label-group mb-4">
        <input v-model="candidate.surname" v-validate="'required'" data-vv-as="Candidate Surname" type="text" name="surname" id="surnameInput" autofocus="">
        <label for="surnameInput">Candidate Surname</label>
        <span class="checkIcon">&#10003;</span>
        <span class="error-message">{{ errors.first('surname') }}</span>
      </fieldset>

      <fieldset :class="{ 'error-style': errors.has('industry'), 'not-empty': candidate.industry.length !== 0 }" class="form-label-group mb-4">
        <b-container fluid>
          <b-row class="my-1">
            <b-col v-if="industries" class="px-0">
              <label for="industry" :class="{ 'selected': candidate.industry.length !== 0 }">Choose Industry</label>
              <b-form-select v-model="candidate.industry" :options="industries" v-validate="'required'" data-vv-as="Choose Industry" id="industry" name="industry" :class="{'sel': true, 'selOk': candidate.industry !== ''}" />
            </b-col>
          </b-row>
        </b-container>
        <span class="error-message">{{ errors.first('industry') }}</span>
      </fieldset>

      <fieldset :class="{ 'error-style': errors.has('sex'), 'not-empty': candidate.sex.length !== 0 }" class="form-label-group mb-4">
        <b-container fluid>
          <b-row class="my-1">
            <b-col class="px-0">
              <label for="sex" :class="{ 'selected': candidate.sex.length !== 0 }">Sex</label>
              <b-form-select v-model="candidate.sex" :options="sex" v-validate="'required'" data-vv-as="Sex" id="sex" name="sex" :class="{'sel': true, 'selOk': candidate.sex !== ''}" />
            </b-col>
          </b-row>
        </b-container>
        <span class="error-message">{{ errors.first('sex') }}</span>
      </fieldset>

      <div class="buttons">
        <button type="submit" class="btn btn-success">Add Candidate</button>
      </div>
    </form>
  </div>
</template>

<script>

export default {
	data() {
		return {
			candidate: {
				name: '',
				surname: '',
				industry: '',
        sex: '',
        progress: {}
      },
			industries: {},
			employees: {},
      sex: {
				male: {
					value: "male"
        },
				female: {
					value: "female"
        }
      }
    }
	},
  mounted() {
		// eslint-disable-next-line
		this.employees = $employees;
		// eslint-disable-next-line
		this.industries = $industries;
  },
  methods: {
		addCandidate() {
			for (let opt in this.industries[this.candidate['industry']]['priority']) {
				this.candidate['progress'][opt] = false;
      }
      this.employees.push(this.candidate);
			// eslint-disable-next-line
			$employees = this.employees;
			this.$router.push({name: 'contractCard'});
		},
		validateForm() {
			this.$validator.validateAll().then((result) => {
				if (result) {
					this.addCandidate();
        }
			});
		}
  }
}
</script>

<style scoped>
  h1 {
    text-align: center;
  }
  form {
    max-width: 500px;
    margin: 20px auto;
  }
  .selected {
    color: #3054d7;
    font-size: 12px;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
</style>
