<template>
  <div class="addOption">
    <h1>Add Option</h1>
    <form @submit.prevent="validateForm()" class="form-signin form-label form-css-label px-2">

      <fieldset :class="{ 'error-style': errors.has('name'), 'not-empty': option.name.length !== 0 }" class="form-label-group mb-4">
        <input v-model="option.name" v-validate="validationRule" data-vv-as="Option Name" type="text" name="name" id="nameInput" autofocus="">
        <label for="nameInput">Option Name</label>
        <span class="checkIcon">&#10003;</span>
        <span class="error-message">{{ errors.first('name') }}</span>
      </fieldset>

      <div class="pb-3 overflow-hidden position-relative" style="line-height:10px;">
        <label for="priority" class="requiredLabel">Is required?</label>
        <input v-model="option.priority" @keyup.enter="option.priority=!option.priority" class="mr-1" type="checkbox" name="priority" id="priority">
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-success">Add Option</button>
      </div>

    </form>
  </div>
</template>

<script>
export default {
	props: ['options'],
	data() {
		return {
			option: {
				name: '',
				priority: false
      },
			validationRule: {},
      optionsList: [],
      T: {}
    }
	},
  mounted() {
		this.optionsList = Object.entries(this.options).map(([key]) => (key));
		this.validationRule = {
			required: true,
			excluded: this.optionsList
		};
  },
  methods: {
		addOption() {
			this.optionsList.push(this.option.name);
			this.$emit('addOption', this.option);
		},
		validateForm() {
			this.$validator.validateAll().then((result) => {
				if (result) {
					this.addOption();
				}
			});
		}
  }
}
</script>

<style scoped>
  .addOption {
    max-width: 500px;
    margin: 20px auto;
  }
  h1 {
    text-align: center;
  }
  form {
    max-width: 500px;
    margin: 20px auto;
  }
  .requiredLabel {
    position: relative;
    display: inline-block;
    width: auto;
    top: 0;
    margin: 0;
    overflow: initial;
  }
</style>
