<template>
  <div class="contractCard">
    <h1>Contract Card</h1>
    <!--eslint-disable-next-line-->
    <div v-for="employee, i in employees" class="container mb-4">
      <div class="header">
        <div class="d-flex">
          <div class="flex-fill position-relative">
            <div class="row">
              <div class=" col-sm-12 col-md">
                <i class="fa fa-male iconBox borderRight d-none d-md-inline-block"></i>
                <span class="ml-2"><b>{{employee.surname}}, {{employee.name}}</b></span>
              </div>
              <div class="col-sm-12 col-md">
                <i class="fa fa-info d-none d-md-inline-block"></i>
                <span class="ml-2">{{employee.industry}}</span>
              </div>
              <div class="col d-none d-lg-block">Hannover</div>
            </div>
            <span v-if="employee.total" class="rating d-inline-block d-md-none">
              {{((5 / employee.total) * employee.passed).toFixed(1)}} <i class="fas fa-star"></i>
            </span>
          </div>
          <div class="ml-auto d-none d-md-inline-block">
            <router-link :to="{name: 'employeeDetails', params: {id: i}}"><i class="fas fa-pencil-alt iconBox borderLeft float-left"></i></router-link>
            <i class="fa fa-ban iconBox borderLeft float-left"></i>
            <i class="fa fa-chevron-down iconBox borderLeft float-left"></i>
          </div>
          <div class="rightSmallIcons d-inline-block d-md-none">
            <i class="fas fa-male iconBox borderLeft float-left"></i>
            <i class="fa fa-info iconBox borderLeft float-left"></i>
          </div>
        </div>
      </div>
      <div :class="{'greenBG' : employee.finished}" class="body">
        <div class="row1 d-flex">
          <div class="flex-fill">
            <div class="row">
              <div class="col">
                <span class="iconBox d-none d-md-inline-block"></span>
                <span class="d-inline-block d-md-none">Zertarbelt Muster</span>
                <span class="d-none d-md-inline-block ml-2">Zertarbelt Muster</span>
              </div>
              <div class="col-sm-12 col-md d-md-inline-block">
                26.03.2018 - 23.08.2019
                <span class="d-inline-block d-lg-none ml-2 color-gray"><i class="fas fa-exclamation exclamation"></i> 10</span>
              </div>
              <div class="col d-none d-lg-block">26.65€</div>
            </div>
          </div>
          <div class="ml-auto d-none d-md-inline-block text-center stars">
            <template v-if="employee.total">
              <!--eslint-disable-next-line-->
              <i v-for="i in Math.round((5 / employee.total) * employee.passed)" class="fas fa-star"></i>
              <!--eslint-disable-next-line-->
              <i v-for="j in (5 - Math.round((5 / employee.total) * employee.passed))" class="far fa-star"></i>
            </template>
          </div>
          <div class="rightSmallIcons d-inline-block d-md-none">
            <i class="fas fa-pencil-alt iconBox borderLeft float-left"></i>
            <i class="fa fa-ban iconBox borderLeft float-left"></i>
          </div>
        </div>
        <div class="row2 d-flex">
          <div class="flex-fill">
            <div class="row">
              <div class="col d-none d-md-inline-block">
                <span class="iconBox d-sm-none d-md-inline-block"></span>
                <span class="d-none d-md-inline-block d-lg-none ml-2">Hannover</span>
              </div>
              <div class="col">
                <span class="d-none d-lg-inline-block">beschaftigt: 786 Tage <i class="fas fa-exclamation exclamation"></i> 10</span>
                <span class="d-inline-block d-lg-none"><span style="color:initial;">26.65€</span> <button class="btn-custom">TVBZME</button> 10% <i class="fas fa-exclamation exclamation ml-2"></i> 5</span>
              </div>
              <div class="col d-none d-lg-block">
                <button class="btn-custom">TVBZME</button>
                10%, in <i class="fas fa-exclamation exclamation"></i> 5 Tage 15%
              </div>
            </div>
          </div>
          <div class="ml-auto d-none d-md-inline-block stars"></div>
          <div class="rightSmallIcons d-inline-block d-md-none">
            <i class="fas fa-chevron-down iconBox borderLeft float-left"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      employees: {},
      industries: {},
    }
  },
	mounted() {
		// eslint-disable-next-line
		this.employees = $employees;
		// eslint-disable-next-line
    this.industries = $industries;
		for (let i in this.employees) {
			let count = 0;
			let countDone = 0;
			let finished = true;
			if (Object.getOwnPropertyNames(this.employees[i].progress).length > 1) {
				for (let j in this.employees[i].progress) {
					if (this.employees[i].progress[j]) {
						count++;
					}
					if (this.industries[this.employees[i]['industry']].priority[j] && !this.employees[i].progress[j]) {
						finished = false;
					}
					countDone++
				}
      }
			this.employees[i]['total'] = countDone;
			this.employees[i]['passed'] = count;
			this.employees[i]['finished'] = finished;
    }
	},
}
</script>

<style scoped>
  h1 {
    text-align: center;
  }
  .container {
    padding: 0;
    border: 1px solid #5f5f5f;
  }
  .header {
    line-height: 40px;
    background-color: #e5e5e5;
  }
  .fa, .fas {
    color: #b68e11;
    line-height: inherit;
  }
  .fa-star {
    color: #ffbe18;
  }
  .borderRight {
    border-right: 1px solid #5f5f5f;
  }
  .borderLeft {
    border-left: 1px solid #5f5f5f;
  }
  .iconBox {
    width: 40px;
    text-align: center;
    background-color: #fff;
  }
  .body, .rightSmallIcons .fa-info, .rightSmallIcons .fa-ban, .rightSmallIcons .fa-chevron-down {
    border-top: 1px solid #5f5f5f;
  }
  .row1, .row2 {
    line-height: 60px;
  }
  .row2, .color-gray {
    color: #5f5f5f;
  }
  .stars {
    width: 120px;
  }
  .btn-custom {
    display: inline-block;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #5f5f5f;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .exclamation {
    border: 1px solid #B68E11;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
  }
  .rightSmallIcons {
    width: 40px;
  }
  .rating {
    position: absolute;
    right: 10px;
    top: 0;
    height: 40px;
    line-height: 40px;
  }
  .greenBG {
    background: #bcf5c4;
  }
  @media (max-width: 767px) {
    .row1, .row2 {
      line-height: 40px;
      padding-left: .5rem;
    }
  }
</style>
