<template>
  <div v-if="employee && industry" class="employeeDetails">
    <h1>{{employee.name}} {{employee.surname}}'s boarding details</h1>
    <p>Industry - <b>{{employee.industry}}</b></p>
    <p>Sex - <b>{{employee.sex}}</b></p>
    <p>On boarding finished - <b>{{statistic.finished}}</b></p>
    <table class="table">
      <thead>
        <tr>
          <th>Option</th>
          <th>Required</th>
          <th>Done</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <!--eslint-disable-next-line-->
      <tr v-for="(value, key, index) in employee.progress">
          <td>{{key}}</td>
          <td><input v-model="industry['priority'][key]" @change="updateEmployee" type="checkbox" /></td>
          <td><input v-model="employee.progress[key]" @change="updateEmployee" type="checkbox" /></td>
          <td><button @click="removeOption(key)" class="btn btn-danger">Remove</button></td>
        </tr>
      </tbody>
    </table>
    <div class="buttons">
      <button @click="showForm=!showForm" v-if="!showForm" class="btn btn-success">Add Option</button>
      <button @click="showForm=!showForm" v-if="showForm" class="btn btn-primary">Close Form</button>
    </div>
    <div v-if="showForm" class="addOption">
      <AddOption :options="industry.priority" @addOption="addOption"/>
    </div>
  </div>
</template>

<script>

class Employee {

  employee = {};

  constructor(employee, id) {
    this.employee = employee[id];
  }

  getEmployee() {
    return this.employee;
  }

  updateEmployee(employee) {
    this.employee = employee;
  }
}

class Industry extends Employee {

	industry = {};

  getIndustry(industry) {
    this.industry = industry[this.employee['industry']];
    return this.industry;
  }

  getStatistic() {
    let count = 0;
    let countDone = 0;
    let finished = true;
    for (let i in this.employee.progress) {
      if (this.employee.progress[i]) {
        count++;
      }
      if (this.industry.priority[i] && !this.employee.progress[i]) {
        finished = false;
      }
      countDone++
    }
    return {
      total: countDone,
      passed: count,
      finished: finished
    }
  }

  updateIndustry(industry) {
    this.industry = industry;
  }

  removeOption(option) {
    delete this.industry.priority[option];
    delete this.employee.progress[option];
    return this.returnAllData();
  }

  addOption(option) {
    const name = option.name;
    this.industry.priority[name] = option.priority;
    this.employee.progress[name] = false;
    return this.returnAllData();
  }

  returnAllData() {
    return {
      employee: this.employee,
      industry: this.industry
    }
  }
}

import AddOption from './AddOption.vue'

export default {
	components: {
		AddOption
	},
  data() {
    return {
      E: {},
      id: '',
      employee: {},
      industry: {},
      statistic: {},
      showForm: false
		}
  },
	mounted() {
    this.id = this.$route.params.id;
		// eslint-disable-next-line
		this.E = new Industry($employees, this.id);
    this.employee = this.E.getEmployee();
    // eslint-disable-next-line
    this.industry = this.E.getIndustry($industries);
    this.updateEmployee();
	},
  methods: {
    updateEmployee() {
      this.E.updateEmployee(this.employee);
      this.E.updateIndustry(this.industry);
      this.updateStatistic();
    },
    removeOption(option) {
      const updatedData = this.E.removeOption(option);
      this.employee = updatedData.employee;
      this.industry = updatedData.industry;
			this.updateStatistic();
    },
		addOption(option) {
			const updatedData = this.E.addOption(option);
			this.employee = updatedData.employee;
			this.industry = updatedData.industry;
			this.updateStatistic();
    },
		updateStatistic() {
			this.statistic = this.E.getStatistic();
		}
  }
}
</script>

<style scoped>
  .employeeDetails {
    max-width: 500px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
</style>
