<template>
  <div class="nav-bar font-bold">
    <b-navbar toggleable="md">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand :to="{name: 'addCandidate'}" left>
        <img alt="AVAX" src="https://avax.de/wp-content/uploads/2015/04/AVAX_4c1-e1429776433607.png" height="50" class="d-none d-md-inline-block align-top">
        <img alt="AVAX" src="https://avax.de/wp-content/uploads/2015/04/AVAX_4c1-e1429776433607.png" height="30" class="d-inline-block d-md-none align-top">
      </b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-nav-item :to="{name: 'addCandidate'}">Add Candidate</b-nav-item>
          <b-nav-item :to="{name: 'contractCard'}">Contact Card</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>

export default {
	data () {
		return {}
	},
  mounted() {},
	methods: {}
}
</script>

<style scoped>
  .nav-bar {
    padding: 0 30px;
  }
</style>
