<template>
  <div id="app">
    <NavBar />
    <div id="content">
      <router-view/>
    </div>
  </div>
</template>

<script>

import NavBar from './components/NavBar.vue'

export default {
  components: {
		NavBar
  },
	data() {
		return {}
	},
	mounted() {}
}
</script>

<style>
#content {
  margin: 20px auto;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
fieldset {
  position: relative;
  z-index: 2;
}
input[type=text], input[type=password], .sel {
  display: block;
  width: 100%;
  height: 3em;
  padding: 16px 38px 16px 8px;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  background: inherit;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease-in-out;
}
fieldset input {
  position: relative;
  padding-right: 30px !important;
  z-index: 10;
}
.sel {
  border-bottom: 2px solid #ddd;
  padding: .375rem .75rem;
}
.sel:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.selOk {
  border-bottom: 2px solid #3054d7;
}
.checkIcon {
  position: absolute;
  z-index: 15;
  right: 7px;
  top: 7px;
  font-size: 25px;
  color: #3054d7;
  opacity: 0;
  transition: 1s;
}
.checkSelectIcon {
  position: absolute;
  right: 7px;
  top: -5px;
  font-size: 25px;
  color: #3054d7;
  opacity: 0;
  transition: 1s;
}
.form-label input, .form-label textarea {
  border-bottom: 2px solid #ddd;
}
.form-css-label label {
  position: absolute;
  z-index: -1;
  top: 16px;
  left: 8px;
  width: 100%;
  padding-right: 30px;
  color: #7B7B7B;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}
.form-css-label input[data-empty="false"], .form-css-label input:valid, .form-css-label input:focus,
.form-css-label textarea[data-empty="false"], .form-css-label textarea:valid, .form-css-label textarea:focus {
  padding: 22px 8px 10px;
}
.form-css-label input:focus, .form-css-label textarea:focus {
  outline: 0;
}
.not-empty input[data-empty="false"], .not-empty input:valid, .not-empty input:focus,
.not-empty textarea[data-empty="false"], .not-empty textarea:valid, .not-empty textarea:focus {
  border-bottom: 2px solid #3054d7;
}
.not-empty input[data-empty="false"] + label, .not-empty input:valid + label, .form-css-label input:focus + label,
.not-empty textarea[data-empty="false"] + label, .not-empty textarea:valid + label, .form-css-label textarea:focus + label {
  color: #3054d7;
  font-size: 12px;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}
.not-empty input[data-empty="false"] + label + .checkIcon, .not-empty input:valid + label + .checkIcon, .not-empty input:focus + label + .checkIcon,
.not-empty textarea[data-empty="false"] + label + .checkIcon, .not-empty textarea:valid + label + .checkIcon, .not-empty textarea:focus + label + .checkIcon,
.selectOk {
  opacity: 1;
  transform: rotate(1440deg);
}
.error-style input[aria-invalid="true"] {
  border-bottom: 2px solid #e01812;
}
.error-style input[aria-invalid="true"] + label {
  color: #e01812;
}
.error-style input[aria-invalid="true"] + label + .checkIcon {
  opacity: 1;
  transform: rotate(2970deg);
  color: #e01812;
}
.error-message {
  font-size: 10px;
  color: #e01812;
}
</style>
